In [1]:
import numpy as np
import pandas as pd

Reading the CSV file and checking structure to reduce memory

In [2]:
stock_data=pd.read_parquet('../Data/Processed/combined_banks.parquet',engine='fastparquet')
stock_data.head()

,date,close,high,low,open,volume,ticker
0,2018-01-01,562.450073,566.726870,557.477040,560.759230,6943234,AXISBANK.NS
1,2018-01-01,143.172302,145.299935,142.596072,142.729044,7408273,BANKBARODA.NS
2,2018-01-01,432.688995,438.813604,431.755722,436.935379,6580516,HDFCBANK.NS
3,2018-01-01,298.055054,301.609058,296.902425,301.609058,7739502,ICICIBANK.NS
4,2018-01-01,53.558346,54.095397,52.972477,53.118946,4483875,IDFCFIRSTB.NS

In [3]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7519 entries, 0 to 7518
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7519 non-null   datetime64[ns]
 1   close   7519 non-null   float64
 2   high    7519 non-null   float64
 3   low     7519 non-null   float64
 4   open    7519 non-null   float64
 5   volume  7519 non-null   int64
 6   ticker  7519 non-null   category
dtypes: category(1), datetime64[ns](1), float64(4), int64(1)
memory usage: 360.0 KB

In [4]:
stock_data.describe(include='all').round(2)

,date,close,high,low,open,volume,ticker
count,7519,7519.00,7519.00,7519.00,7519.00,7.519000e+03,7519
unique,NaN,NaN,NaN,NaN,NaN,NaN,11
top,NaN,NaN,NaN,NaN,NaN,NaN,AXISBANK.NS
freq,NaN,NaN,NaN,NaN,NaN,NaN,684
mean,2021-06-28 18:19:06.216252160,3709.47,3738.92,3678.32,3710.37,3.177421e+07,NaN
min,2018-01-01 00:00:00,10.90,11.05,5.65,10.80,0.000000e+00,NaN
25%,2019-10-04 00:00:00,83.13,84.60,81.91,83.14,5.190414e+06,NaN
50%,2021-07-05 00:00:00,516.43,522.23,508.45,515.70,1.467966e+07,NaN
75%,2023-04-07 12:00:00,1104.76,1119.86,1092.56,1103.03,3.132667e+07,NaN
max,2024-12-12 00:00:00,53603.55,53888.30,53326.40,53634.20,1.798102e+09,NaN
std,NaN,10352.68,10424.11,10276.63,10355.60,6.806852e+07,NaN

In [5]:
stock_data.isna().sum()

date      0
close     0
high      0
low       0
open      0
volume    0
ticker    0
dtype: int64